{% extends 'base.html' %}

{% block content %}
<script>
	function SendPostRequestHome(event) {
		$.ajax({
			url: "{% url 'login' %}",
			method: 'POST',
			data: { 'csrfmiddlewaretoken': '{{ csrf_token }}' },
			success: function (data) {
				if (data.result == 'success') {
					window.location = "{% url 'menu' %}";
				}
				else if (data.result == 'failure') {
					window.location = "{% url 'login' %}";
				}
			}
		});
	}
</script>
<body onmousedown="SendPostRequestHome(event)">
	<section class="h-100 gradient-form" style="background-color: #eee;">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-xl-10">
					<div class="card rounded-3 text-black">
						<div class="row g-0">
							<div class="col-lg-6">
								<div class="card-body p-md-5 mx-md-4">
									<div class="text-center">
										<img src="https://i.ibb.co/Xy18YJ3/blind-logo.png" style="width: 185px;"
											alt="logo">
										<h4 class="mt-1 mb-5 pb-1">We are The Helping Team</h4>
									</div>
									{% csrf_token %}
									<form action="login.html" method="POST">
										<p>Please login to your account</p>

										<div class="form-outline mb-4">
											<label class="form-label" for="form2Example11">Email</label>
											<input type="text" id="form2Example11" class="form-control" name="email"
												placeholder="Email" required value={{detail.email}} >
										</div>

										<div class="form-outline mb-4">
											<label class="form-label" for="form2Example22">Password</label>
											<input type="password" id="form2Example22" class="form-control"
												placeholder="Password" required value={{detail.password}} >
										</div>

										<div class="text-center pt-1 mb-5 pb-1">
											<input href="home.html" role="button" type="submit" value="LOGIN"
												class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">
											<a class="text-muted" href="#!">Forgot password?</a>
										</div>

										<div class="d-flex align-items-center justify-content-center pb-4">
											<p class="mb-0 me-2">Don't have an account?</p>
											<button type="button" class="btn btn-outline-danger">Create new</button>
										</div>

									</form>

								</div>
							</div>
							<div class="col-lg-6 d-flex align-items-center gradient-custom-2">
								<div class="text-white px-3 py-4 p-md-5 mx-md-4">
									<h4 class="mb-4">This is more than just a project</h4>
									<p class="small mb-0">
										We want to help specially gifted people through this project.
										To add more content I am writing this line.
										I should just add Lorem ipsum.
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										<br><br>
										<b>Our Team: </b><br><br>
										1. <strong>Hasnain Merchant</strong><br><br>
										2. <strong>Rohan Dhawale</strong><br><br>
										3. <strong>Shivani Shete</strong><br><br>
										4. <strong>Nahid Hwaldar</strong><br><br>
										5. <strong>Alekhya Tejomurtula</strong><br><br>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- <h1>VOICE BASED EMAIL FOR THE BLIND</h1>
	<form action="login.html" method="POST">
		<br><br>
		<div>
			<div class="login" id="here">
				{% csrf_token %}
				<h2>Email:</h2>
				<input type="text" placeholder="Email" name="email"  value={{detail.email}} required>
				<br><br>
				<h2>Password: </h2>
				<input type="password" placeholder="Password" name="password" value={{detail.password}} required>
				<br><br><a href="home.html">
				<input href="home.html" role="button" type="submit" value="LOGIN"></a>
				<br>
			</div>
		</div>
	</form> -->
	{% endblock %}