{% extends 'base.html' %}

{% block content %}
<script>
	function SendPostRequestTrash(event){
		$.ajax({
        url: "{% url 'trash' %}",
        method: 'POST',
        data: { 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success: function (data) {
			if(data.result == 'success'){
				window.location = "{% url 'menu' %}";
			}
			else if(data.result == 'logout'){
				window.location = "{% url 'login' %}";
			}
        }
    });
	}
</script>

<body onmousedown = "SendPostRequestTrash(event)">
	<section>
		<div class="menu-box">
			<h2>What would you like to do?</h2>
			<input type="text" name="search" placeholder="Search" /><br>
			<a href="javascript:history.back()"><span></span><span></span><span></span><span></span>Go Back</a><br>
			<a href="../"><span></span><span></span><span></span><span></span>Logout</a><br>
		</div>
	</section>
    <!--
    <h1>Trash</h1>
    <h2> What would you like to do? <h2><br>
    <button>Search</button>
    <button>Go Back</button>
    <button>Logout</button>
    -->
</body>

{%endblock%}